name: Rust Test

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: true

jobs:
  build:
    name: Build macOS universal binary
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v5

      - run: rustup toolchain install stable --profile minimal

      - uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build
        
      - name: Run tests
        run: cargo test